/* Seção de variáveis globais */
:root {
    --primary-color: rgb(17, 86, 102);
    --secondary-color: white;
}

/* Seção de configuração geral do site: */
body {
    background-color: var(--primary-color);
}

/* Seção de configuração do container */
.container {
    background-color: var(--secondary-color);
    width: 40%;
    margin: 10rem auto;
    min-height: 15rem;
    text-align: center;
    align-items: center;
}

.container h1 {
    font-size: 2rem;
}

/* Sub-seção do NodList */
.articles {
    font-size: 1.5rem;
    text-align: justify;
    padding: 10px;
}