/* Padrão para o site */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Organização do Menu */
.menu {
    width: 100%;
    position: fixed;
    background: black;
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    max-width: 1200px;
    padding: 0 30px;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu li a:hover {
    background: #333;
}

/* Organização dos conteúdos do Site */
.introduction h1{
    font-family: 'Times New Roman', Times, serif;
}

.introduction p {
    font-family: 'Times New Roman', Times, serif;
}

/* .sites {

}

.site-content {

} */

/* Organização do footer */
/* .footer {
    
} */