/* Variáveis Globais */
:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

/* Configuração geral do site */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    text-align: justify;
    font-size: 1.3rem;
}

/* Organizando a seção */
.section {
    height: auto;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

section h1 {
    font-size: 2.5rem;
}

/* Organizando a div */
.div {
    margin-top: 1rem;
}

/* Organizando o formulário */
.form-h1 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

.form button:hover {
  background: var(--primary-color-darker);
}

.form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form label {
    padding-top: 0.5rem;
    font-size: 1.6rem;
}

.form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

/* Organizando a seção de resposta */
.showing-result {
    padding: 1rem;
}

.positive-result, .negative-result {
    background-color: rgb(109, 255, 182);
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}

.negative-result {
    background: rgb(255, 150, 150);
}